.work-sans-font{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0px 0px;
}
.shape{
    src: url("https://fonts.cdnfonts.com/css/miama");
}

.fitness , .navbar{
}
.fitness{
    color: #E6533C;
    font-size: 2em;
    place-content: center;
}
.navbar{
    font-size: 19px;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    width: 45%;
    height: 10%;
    border: 1px solid #424242;
    border-radius: 39px;
}
nav>ul{
    list-style: none;
    display: flex;
    gap: 14%;
    place-items: center;
    margin-left: -5.2%;
}
.home-item{
    width: 70%;
    height: 15%;
    padding: 28% 65% 28% 65%;
    border: 1px solid black;
    border-radius: 39px;
    background-color: #E6533C;
    border: hidden;
    color: white;
    font-size: 20px;
}
li>a{
    text-decoration: none;
    color: white; 
}
li:first-child{
    margin-right: 13%;
}

@font-face {
    font-family: Miama;
    src: url('../font/Miama-Regular.ttf');
}
.header-container{
    border: 1px solid purple;
    width: 100%;
    height: auto;
    background-image: linear-gradient(to bottom, #000000, #434343, #000000);
}
.container{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.container-1{
    border: 1px solid red ;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-2{

}

.p-1{
    border: 1px solid black;
    font-size: 6rem;
    color: white;
    width: 55%;
    height: 65%;
    line-height: 1;
}
.p-2{
    border: 1px solid orange;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.50);
    width: 55%;
    height: 10%;
}
.join-download{
    border: 1px solid red;
    width: 50%;
    height: 9%;
    display: flex;
    justify-content: space-between;
    margin-top: 2.5%;
}
.join-btn{
    background-color: #E6533C;
    border-radius: 42px;
    border: #E6533C;
    padding: 3% 10%;
}
.join-btn>a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}
.download-btn{
    border-radius: 42px;
    background-color: transparent;
    border-color: white;
    padding: 3% 10%;
}
.download-btn>a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}
.part2{
    border: 1px solid white;
    display: flex;
    place-content: center;
}
.first-image{
    border: 1px solid blue;
    width: 25%;
    height: auto;
    display: flex;
}
.workout500{
    width: 10%;
    height: 10%;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);;
    border-radius: 20px;
    background-color: #434343;
    top: 29%;
    left: 84%;
    text-align: start;
    padding: 1% 0% 0% 1%;
}
.workout500>h1{
    font-weight: 700;
    font-size: 250%;
    margin: 0;
}
.workout500>p{
    margin-top: 0;
}
/* .workcount{
} */
.workout500, .tutorial350{
    color: white;
}
/* .img-round{
    padding-left: 8vh;
} */

.play{
    width: 20%;
    height: 40%;
    border: 1px solid #E6533C;
    border-radius: 50%;
    background-color: #E6533C;
    margin-top: 15%;
}
.tutorial350{
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    width: 12%;
    height: 12%;
    top: 66%;
    left: 64%;
}
.tutorial-child{
}
.tutorial-child>h1{
    font-size: 190%;
}
.tutorial-child>p{
    color: rgba(255, 255, 255, 0.65);
    margin-top: -1em;
 }
/* ------------------------------------------------------ */
.second-part{
    border: 1px solid #E6533C;
    width: 100%;
    height: auto;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.habit-des{
    border: 1px solid navy;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-bottom: 2%;
}
.habit-h1{
    border: 1px solid purple;
    font-size: 48px;
    font-weight: 800;
    color: white;
}
.p{
    color: #808080;
    margin-top: -5%;
}
.habits{
    border: 1px solid teal;
    width: 80%;
    height: auto;
    display:flex;
}
.movement, .time, .practice, .weight{
    border: 1px solid fuchsia;
    width: 26%;
    height: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.m, .pr, .t, .w{
    color: white;
    font-size: 25px;
    font-weight: 600;
}
.ps0{
    border: 1px solid red;
    color: #808080;
    width: 90%;
    font-size: 110%;
    text-align: center;
}
.ps1, .ps2, .ps3, .ps4{
    border: 1px solid yellowgreen;
    width: 70%;
    height: auto;
    color: #808080;
    text-align: center;
    margin-top: -10px;
}
.border{
    width: 80%;
    height: auto;
    border: 5px solid #424242;
    border-radius: 50%;
    overflow: hidden;
}
.img2, .img3, .img4, .img5{
    width: 310px;
    height: 310px;
}
/* .movement{
}
.time{
}
.practice{
}
.weight{
} */

/* -------------------------------------------------------------------- */
/* third-part */

.third-part{
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    padding-top: 7%;
    padding-bottom: 2%;
}
.third-child{
    width: 80%;
    height: auto;
    display: flex;
    background-color: #222222;
    border: 1px solid #222222;
    border-radius: 20px;
    justify-content: space-between;
    padding-bottom: 2%;
    padding-top: 2%;
}

.third-child1{
    border: 1px solid white;
    width: 40%;
    height: 100%;
    margin-left: 5%;
}
.run-title{
    border: 1px solid red;
    width: 60%;
    height: 30% ;
    font-size: 50px;
    font-weight: 900;
    color: white;
    margin-top: 5%;
}
.run-des{
    width: 95%;
    border: 1px solid aquamarine;
    color: #919191;
    line-height: 1.5rem;
    letter-spacing: 0.3;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 6%;
}
.run{
    border: 1px solid #424242;
    border-radius: 20px;
    width: 30%;
    height: 100%;
    margin: 0% 2.5% 2% 0%;
    overflow: hidden;
}
.run img{
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: 68% 32%;
}
.run-join-btn{
    background-color: #E6533C;
    border-radius: 42px;
    border: #E6533C;
    width: 50%;
    height: 15%;
}
.run-join-btn>a{
    color: white;
    text-decoration: none;
    font-size: 2em;
}

/* ------------------------------------------------------------------- */
/* forth-part */
/* 
.forth-part{
    background-color: #000000;
    display: flex;
    justify-content: center;
    
}
.forth-child{
    border: 5px solid red;
    width: 1440px;
    height: 702px;
    
}
.forth-des{
    font-size: 48px;
    font-weight: 800;
    color: white;
}
.forth-des-p{
    height: 20vh;
    width: 37vw;
    line-height: 20px;
}
.forth-des{

}

.forth-p{
    color: #808080;
}

.forth-part img{
    width: 100%;
    height: 100%;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.3);
}
.exercise-row-1{
    height: 265px;
    display: flex;
}

.exercise-row-2{
    height: 265px;
    display: flex;

}
.exercise div{
} */
/* ------------------------------------------------------------- */
.bmi-root{
    border: 1px solid red;
    width: 100%;
    height: auto;
    background-color: #000000;
    display: flex;
    place-content: center;

}
.bmi-head{
    border: 1px solid yellow;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    padding: 2%;
}
.bmi-head-h{
    color: white;
    font-size: 4rem;
    margin-top: 7%;
    margin-bottom: 0;
    margin-top: 2%;
}
.bmi-head-p{
    width: 80%;
    border: 1px solid green;
    font-size: 110%;
    color: #B0B0B0;
    margin-top: 2%;
    margin-bottom: 5%;
}
/* -------------------------------------------------- */
/* fifth-part */

.fifth-part{
    border: 1px solid purple;
    width: 100%;
    height: auto;
    background-color: #222222;
    display: flex;
    place-content: center;
}
.fifth-root{
    border: 1px solid orange;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-content: space-between; */
}
.fifth-child-1{
    border: 1px solid seagreen;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
}
.fifth-child-2{
    border: 1px solid blue;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    gap: 10px;
}
.measure-chart{
    border: 1px solid white;
    width: 90%;
    height: 55%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
}
.chart, .chart1{
    font-weight: 700;
    font-size: 35px;
    color: white;
}
.bmi1, .bmi2{
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
    color: #B0B0B0;
    text-align: center;
}
.bmi1 p{
    border: 1px solid #393939;
    padding: 8%;
    margin: -0.01rem;
    margin-right: -0.5%;
}
.bmi2 p{
    border: 1px solid #393939;
    padding: 8%;
    place-items: center;
    text-align: center;
    margin: -0.01rem;
    margin-left: -0.5px;
}
.bmi-item{
    color: white;
    font-size: 120%;
}
.select-box{
    border: 1px solid maroon;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.box1>input{
    width: 37.5%;
    border: 2px solid #393939;
    border-radius: 8px;
    background-color: #393939;
    place-content: center;
    color: #B0B0B0;
    padding: 3% 10% 3% 0%;
    margin: 1% 0% 1% 1%;
}
.box1{
    border: 1px solid white;
}
.box2{
    border: 1px solid lawngreen;
}
::placeholder{
    color: #B0B0B0;
    font-size: 1.1rem;
    font-weight: 500;
    text-indent: 10%;
}
.sex-box{
    border: 1px solid red;
    width: 48%;
    height: auto;
    border: 2px solid #393939;
    border-radius: 8px;
    background-color: #393939;
    margin: 1% 1%;
    place-content: center;
    color: #B0B0B0;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 3% 10% 3% 0%;
    text-indent: 10%;
}
.sex{
    color: #B0B0B0;

}
.elements5{
    width: 97.7%;
    border: 2px solid #393939;
    border-radius: 8px;
    background-color: #393939;
    margin: 1% 1%;
    place-content: center;
    color: #B0B0B0;
    padding: 3% 10% 3% 0%;
    text-indent: 4%;
}
.elements5:first-child{
    color: #B0B0B0;
    font-size: 1.1rem;
    font-weight: 500;
}
.fp{
    color: #B0B0B0;
    font-size: 110%;
}
.calculate{
    background-color: #E6533C;
    border-radius: 42px;
    border: #E6533C;
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 2.5% 10%;
    margin-bottom: 5%;
}
/* ----------------------------------------------------------------- */
.sixth-part{
    border: 1px solid red;
    width: 100%;
    height: auto;
    background-color: #000000;
}
.sixth-child{
    border: 1px solid yellow;
    width: 80%;
    height: auto;
    padding-bottom: 6%;
    margin-left: auto;
    margin-right: auto;
}
.meet-team{
    border: 1px solid white;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-bottom: 5%;
    color: white;
    margin-left: auto;
    margin-right: auto;
}
.mh1{
    border: 1px solid green;
    font-size: 3rem;
    font-weight: 800;
}
.mp{
    border: 1px solid tomato;
    width: 87%;
    font-size: 1.1rem;
    text-align: center;
    color: #808080;
    margin-top: -3%;
}
.team{
    border: 2px solid palevioletred;
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.1);
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    /* border-style: none;
    border-radius: 20px; */
}
.team1{
    position: relative;
    border: 1px solid red;
    width: 96%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    margin: 2% 2% 2% 2%;
}

.team2{
    position: relative;
    border: 1px solid blue;
    width: 96%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0% 2% 2% 2%;

}
.t-des1{
    position: absolute;
    top: 69%;
    left: 2%;
}
.t-des2{
    position: absolute;
    top: 69%;
    left: 36%;
}
.t-des3{
    position: absolute;
    top: 69%;
    left: 70%;
}
.t-des4{
    position: absolute;
    top: 69%;
    left: 2%;
}
.t-des5{
    position: absolute;
    top: 69%;
    left: 36%;
}
.t-des6{
    position: absolute;
    top: 69%;
    left: 70%;
}

.h-clr{
    font-weight: 700;
    font-size: 25px;
    color: white;
}
.p-clr{
    color: #B0B0B0;
    font-size: 130%;
    margin-top: -1.5em;
}

.trainer1, .trainer2, .trainer3, .trainer4, .trainer5, .trainer6{
    border: 1px solid lawngreen;
    width: 31.5%;
    border-radius: 20px;
    filter: brightness(0.8);
}
.trainer4{
    object-fit: cover;
    object-position: 61% 33%;
}
.trainer5{
}
.trainer6{
}

/* ------------------------------------------------------------------------ */

.footer{
    border: 1px solid white;
    width: 100%;
    height: auto;
    background-color: #1A1A1A;
}
.footer-child{
    border: 1px solid purple;
    width: 80%;
    height: auto;
    display: flex;
    place-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.chartf1, .chartf2{
    font-weight: 700;
    font-size: 2rem;
    color: white;
}
.getstarted1{
    border: 1px solid rgb(21, 216, 167);
    width: 47%;
}
.getstarted2{
    border: 1px solid rgb(0, 56, 240);
    width: 20%;
    height: auto;
    margin-top: 4%;
}
.getstarted2>ul{
    border: 1px solid rgb(206, 2, 172);
    width: 75%;
}
.getstarted3>ul{
    border: 1px solid rgb(240, 11, 221);
    width: 75%;
}
.getstarted3{
    border: 1px solid rgb(219, 149, 18);
    width: 20%;
    height: auto;
    margin-top: 4%;
}
.getstarted2>ul>li>a{
    border: 1px solid rgb(231, 7, 7);
    color: #8D8D8D;
}
.getstarted3>ul>li>a{
    border: 1px solid rgb(233, 7, 7);
    color: #8D8D8D;
}
.getstarted2>ul>li{
    border: 1px solid rgb(7, 252, 40);
    list-style: none;
    padding: 2% 2% 2% 0%;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2rem;
    margin-left: -18%;
}
.getstarted3>ul>li{
    border: 1px solid rgb(44, 236, 18);
    list-style: none;
    padding: 2% 2% 2% 0%;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2rem;
    margin-left: -18%;
}
.fitness-last{
    width: 80%;
    height: auto;
    border: 1px solid rgb(43, 99, 202);
    /* padding: 2%; */
    color: #E6533C;
    font-size: 4.5rem;
    font-weight: 800;
    place-content: center;
}
 .footer-des{
    border: 2px solid burlywood;
    width: 75%;
    color: #8D8D8D;
    font-size: 110%;
    font-weight: 400;
    margin-top: -6%;
 }

.last-border{
    border: 2px solid #313131;
    width: 80%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}
.last-line{
    color: #B0B0B0;
    text-align: center;
    margin-top: 3%;
    font-weight: 400;
    font-size: 1.3rem;
    padding-bottom: 4%;
}